<header>
    <div class="search-area">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="Type here for search">
    </div>
    <div class="user-area">
        <a href="#" class="add">+ Add</a>
        <a href="#" class="notification">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <span class="circle">3</span>
        </a>
        <a href="#">
            <div class="user-img"></div>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
    </div>
</header>