<div class="content-area">
    <div class="heading">
        <h1>Overview</h1>
        <p>Welcome to Cash-Up an expense manager dashboard.</p>
    </div>

    <div class="cards">
        <div class="col-md-4">
            <div class ="card">
                <div class="user-img"></div>
                <span class="user-name">Austin Woodall </span>
                <span class="user-title">Full-Stack Developer</span>
                <hr>
                <div class="col-md-3">
                    <span class="joined">Joined:</span>
                </div>
                <div class="col-md-9">
                    <span class="join-date">May 17, 2018</span>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card">
                <h6>Income</h6>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h6>Upcoming Schedules</h6>
                <span class="date">
                    May 21, 2018
                </span>
                <div class="list-item">
                    <div class="col-md-2">
                        <span class="expense-type">UT</span>
                    </div>
                    <div class="col-md-10">
                        <span class="expense">Phone Bill: </span>
                        <span class="expense-amount"> $86</span>
                        <span class="time">2:35 pm</span>
                    </div>
                </div>
                <div class="list-item">
                    <div class="col-md-2">
                        <span class="expense-type">UT</span>
                    </div>
                    <div class="col-md-10">
                        <span class="expense">Water Bill: </span>
                        <span class="expense-amount"> $45</span>
                        <span class="time">5:35 pm</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
               
            </div>
        </div>
    </div>
</div>